body {
    background-image: url(https://i.imgur.com/PPs4R.jpeg); 
    background-size: cover;
     
}
form {
    color: rgb(255, 255, 255);
    -webkit-text-stroke: .05vmin rgb(8, 199, 233);
    
} 
ul {
    color: rgb(0, 0, 0);
    -webkit-text-stroke: .08vmin rgb(8, 199, 233);
  
}

.listCard {
    color: rgba(125, 0, 251, 0.877);
    -webkit-text-stroke: .05vmin rgb(255, 255, 255);
    font-size: 20px;
    

}